// Default Bootstrap Colors
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529; 

// Additional Colors
$lightyellow: #ffe484;
$blue: #0056F2;
$purple: #6610f2;
$white: white;
$black: black;
$linkblue: #6EA8FE; 

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "lightyellow": $lightyellow,
    "blue": $blue,
    "purple": $purple,
    "white": $white,
    "black": $black,
    "linkblue": $linkblue
)